:root {
  --black: #141516;
  --white: #ffffff;
  --gray: #f8f8f8;
  --accent-color: #883cda;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.33;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

p,
blockquote {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

input::placeholder {
  color: #a5a5a9;
  font-size: 16px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;

  max-width: 375px;
}

.logo {
  line-height: 1;
  font-size: 14px;

  display: flex;
  gap: 10px;
}

.logo-text {
  display: inline-block;

  max-width: 154px;

  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  display: inline-block;

  min-width: 137px;
  padding: 16px 24px;

  background-color: var(--accent-color);
  color: var(--white);

  border-radius: 35px;
}

.section {
  padding-top: 45px;
}

.section-title {
  font-weight: 900;
  font-size: 26px;
  max-width: 275px;
}

.item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.slider {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-list {
  overflow: hidden;

  display: flex;
  /* gap: 16px; */
}

.slider-item {
  padding: 32px 24px;
  /* transform: translateX(507px); */

  border-radius: 15px;
  box-shadow: -8px 10px 23px 0px #f1f1f1, 8px -10px 23px 0px #f1f1f1;
}

.slider-list .slider-item {
  /* -340px every slide */
  /* transform: translateX(167px);
  transform: translateX(-173px); */

  /* margin-right: 16px; */
}

.controls-list {
  margin-top: 32px;

  display: flex;
  gap: 12px;
}

.controls-list button {
  color: #a5a5a9;
}

.controls-list .current {
  color: var(--accent-color);
}

.controls-list .icon {
  fill: currentColor;
}

.section-title,
.item-title {
  margin-bottom: 12px;
}

/* Header */

.main-header {
  padding: 17px 0 229px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../images/mobile/hero-bg-mobile@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--white);
}

@media screen and (min-resolution: 192dpi) {
  .main-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url(../images/mobile/hero-bg-mobile@2x.jpg);
  }
}

.page-nav {
  display: flex;
  justify-content: space-between;
}

.page-info {
  margin-top: 36px;
}

.page-info p {
  max-height: 30px;
}

.current-page::after {
  content: '';

  margin: 0 12px;
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: var(--white);
  transform: translateY(25%);
}

/* Hero */

.hero {
  padding-top: 32px;
  padding-bottom: 24px;
  background-color: var(--gray);
}

.hero .btn {
  margin-top: 32px;
}

/* About section */

.about .section-text {
  margin-bottom: 24px;
}

/* Examples section */

.examples .btn-link {
  font-weight: 700;

  min-width: 216px;

  display: inline-flex;
  align-items: center;
  gap: 16px;

  margin-top: 32px;

  color: var(--accent-color);
  background-color: transparent;

  border: 1px solid var(--accent-color);
}

.examples-list {
  gap: 16px;
}

.examples-list .slider-item {
  width: 328px;
  /* -50% every slide */
  transform: translateX(50%);
}

/* Features section */

.features {
  padding-bottom: 56px;
}

.features .section-title {
  margin-bottom: 24px;
}

.features-list {
  margin-top: 16px;
}

.features-list .item {
  font-weight: 700;
  padding: 25px 30px;
  display: flex;
  gap: 20px;
  align-items: center;

  color: var(--white);
  border-radius: 15px;
}

.features-list .item:not(:first-child) {
  margin-top: 16px;
}

.features-list .item:nth-child(1) {
  background-color: #5ac4ff;
}

.features-list .item:nth-child(2) {
  background-color: #fb7c84;
}

.features-list .item:nth-child(3) {
  background-color: #ffb865;
}

.features-list .item:nth-child(4) {
  background-color: #6ed6a4;
}

.features-list .item:nth-child(5) {
  background-color: #d4ee47;
}

.features-list .thumb {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: var(--white);
}

.features-list strong {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 12px;
  font-size: 34px;
}

/* Form section */

.form-section {
  background-color: var(--gray);
  padding-bottom: 21px;
}

.form-section .text {
  max-width: 268px;

  margin-bottom: 32px;
}

.form-section .form {
  margin-top: 48px;
}

.form-label {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.form-label:not(:first-child) {
  margin-top: 32px;
}

.form-label input {
  margin-top: 16px;
  padding: 16px 24px;

  width: 100%;

  border-radius: 15px;
  border: none;
  box-shadow: -8px 10px 23px 0px #f1f1f1, 8px -10px 23px 0px #f1f1f1;
}

.form-section .btn {
  margin-top: 48px;
}

/* Advantages section */

.advantages .item-text {
  margin-bottom: 24px;
}

.advantages-list img {
  margin: 0 auto;
}

.advantages-list {
  overflow-x: hidden;

  display: flex;
  gap: 16px;
}

.advantages-list .slider-item {
  /* -340px every slide */
  transform: translateX(507px);
  /* transform: translateX(167px); */
  /* transform: translateX(-173px); */
}

/* Last section */

.articles {
  padding-bottom: 56px;
}

.articles-list .slider-item {
  transform: translateX(100%);

  width: 318px;
}

.articles .item-title {
  max-width: 222px;
}

.articles .link {
  display: inline-block;
  margin-top: 24px;
}

/* Footer */

.main-footer {
  background-color: var(--black);
  color: var(--white);
  padding: 46px 0 87px;
}

.main-footer .logo {
  font-size: 24px;
  font-weight: 700;
}

.social-list {
  margin-top: 33px;
  display: flex;
  gap: 18px;
}

.form-wrapper {
  position: relative;
  margin-top: 42px;
}

.form-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.subscribe-form .form-input {
  border-radius: 35px;
  width: 100%;
  padding: 16px 12px 13px;
  border: 1px solid transparent;
}

.subscribe-form .btn {
  /* max-height: 100%; */
  position: absolute;
  right: 0;
}

.footer-info {
  padding-top: 24px;
  padding-bottom: 21px;
  border-bottom: 1px solid var(--white);
}

.footer-info:first-of-type {
  padding-top: 0;
}

.address {
  margin-top: 56px;
}

.footer-title {
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 500;
}

.main-footer .item-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 19px;
}

.footer-list .item:not(:last-child) {
  margin-bottom: 21px;
}

.footer-list .footer-title:last-child {
  margin-bottom: 0;
}

.address-info {
  margin-top: 46px;
}

.about-school-list .item:not(:last-child) {
  margin-bottom: 24px;
}

.copyright {
  padding-top: 40px;
}

.copyright p + p {
  margin-top: 12px;
}
